@model OnlineWeek4Day2.Models.Circle

<h1>Circle!</h1>
<h3>The circle's radius is @Model.X</h3>

@* Adding in a Partial View for the Area *@
@*<h4>The circles's area is @Model.GetArea()</h4>*@

@Html.Partial("_Area")